PolifyBackend/target/
!PolifyBackend/.mvn/wrapper/maven-wrapper.jar
!PolifyBackend/**/src/main/**/target/
!PolifyBackend/**/src/test/**/target/

### IntelliJ IDEA ###
PolifyBackend/.idea/modules.xml
PolifyBackend/.idea/jarRepositories.xml
PolifyBackend/.idea/compiler.xml
PolifyBackend/.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
PolifyBackend/.apt_generated
PolifyBackend/.classpath
PolifyBackend/.factorypath
PolifyBackend/.project
PolifyBackend/.settings
PolifyBackend/.springBeans
PolifyBackend/.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!PolifyBackend/**/src/main/**/build/
!PolifyBackend/**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### LOGs ###
logs/
PolifyBackend/logs/
PolifyBackend/*.log
PolifyBackend/*.log.gz
PolifyBackend/*.zip